<i class="fas fa-bed fa-4x"></i>
<h3 class="title-bar">Dream Journal</h3>
<div class="section">
    <p class="lead">Record your adventures in dream land and aim to reach lucidity</p>
</div>
<div class="divider"></div>
<div class="section">
    <a href="/auth/google" class="btn red darken-1 login-text">
        <i class="fab fa-google left"></i> Log In With Google
    </a>
</div>