@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Lora:ital,wght@0,400;0,700;1,400&display=swap');

html {
    min-height: 100%;
    font-family: 'Lora', 'Roboto', sans-serif
}

p {
    margin: 10px 0, !important
}

html a.title-bar, html h3.title-bar {
    font-family: 'Berkshire Swash', 'Roboto', cursive
}

html a.login-text {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

.capitalize {
    text-transform: capitalize;
}

.login-container {
    width: 400px;
    margin-top: 50px;
    text-align: center;
}

.fa-small {
    font-size: 16px, !important
}

.background {
    background-size: cover;
    background-image: url("/fantasy-g66a8278f0_1920.jpg");
}

@media screen and (max-width: 600px) {

.background {
    background-image: url("/35796.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

html a.title-bar {
    width: 70%;
}

}

.btn-float {
    float: left;
    margin-right: 10px;
}

.img-small {
    width: 180px;
}