html {
    min-height: 100%
}

p {
    margin: 10px 0, !important
}

.login-container {
    width: 400px;
    margin-top: 50px;
    text-align: center;
}

.fa-small {
    font-size: 16px, !important
}

.background {
    background-size: cover;
    background-image: url("/fantasy-g66a8278f0_1920.jpg");
}

@media screen and (max-width: 600px) {

.background {
    background-image: url("/35796.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

}

.btn-float {
    float: left;
    margin-right: 10px;
}

.img-small {
    width: 180px;
}