<h1>Oh no! You've encountered a server error.</h1>
<p>Something went wrong here but don't worry, head back over to the Land of Dreams.</p>
<span>Click <a href="/dashboard">here </a>to return to the Dashboard</span>